/* Base styles */

/*
body{
  font-family: "Arial";
  color: #444;
  font-size: 18px;
  line-height: 24px;
  background-color: plum;
}

p, li, h2, h3, h4, h5, h6{
  margin-top: 24px;
  line-height: 24px;
  color: none;
}

li+li{
  margin-top: 0px;
}

.container{
  width: 728px;
  margin: 0px auto;
}
*/

/* Block styles */
/*

header, section, footer{
  margin: 48px 0;
}
h1{
  margin-top: 24px;
  line-height: 24px;
  color: black;
}
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important
}
body {
    font-family: "Open Sans";
    line-height: 24px;
    font-size: 18px;
    background: #e9e9e9
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    font-family: "Open Sans";
    line-height: 24px;
    margin: 24px 0 0 0;
    padding: 0
}
li {
    list-style: disc;
    margin-left: 24px
}
li+li {
    margin-top: 0;
    padding-top: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700
}
a {
    cursor: pointer;
    color: #00bbff;
    text-decoration: none;
    border-bottom: 1px solid
}
a:visited {
    color: #0044ff
}
.container {
    width: 928px
}
.search {
    float: left;
    width: 744px;
    padding-bottom: 24px
}
.sidebar {
    width: 160px;
    padding-left: 24px;
    padding-top: 48px;
    padding-bottom: 24px;
    float: left
}
.sidebar .top-ad {
    width: 160px;
    height: 90px;
    background: #cccccc
}
.sidebar .ad {
    width: 160px;
    height: 600px;
    background: #cccccc
}
.sidebar ul {
    padding: 24px 0
}
.sidebar ul,
.sidebar li {
    padding-left: 0;
    list-style: none;
    margin: 0;
    line-height: 24px
}
header h1 {
    line-height: 72px;
    margin-bottom: 24px
}
header a {
    float: right;
    line-height: 72px;
    border: 0
}
.searchField {
    margin-bottom: 24px;
    border-bottom: 5px dotted #cccccc;
    padding-bottom: 24px
}
.searchField form {
    margin: 0;
    padding: 0
}
.searchField input {
    padding: 12px 24px;
    line-height: 24px;
    font-size: 36px;
    font-family: inherit
}
.searchField input[type="text"] {
    width: 694px
}
.searchField input[type="submit"] {
    background: #00bbff;
    color: white;
    text-shadow: none;
    border-bottom: 2px solid #0096cc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 0
}
.searchField input[type="submit"]:hover,
.searchField input[type="submit"]:active {
    background: #33c9ff
}
.recipe {
    background: white;
    padding: 24px 24px;
    margin: 24px 0;
    box-shadow: 0px 2px 1px #cccccc
}
.recipe h2 {
    line-height: 48px;
    margin: 0
}
.recipe h2 a {
    border: 0px
}
.no-recipes {
    margin: 24px 0;
    font-size: 29.124px;
    text-align: center;
    color: #999999;
    font-weight: 700
}
.load-more {
    text-align: center
}
.load-more a {
    display: inline-block;
    line-height: 24px;
    padding: 12px 24px;
    border: 0;
    font-weight: bold;
    background: white
}
footer {
    clear: both;
    margin: 0 auto;
    margin-top: 24px;
    border-top: 5px dotted #cccccc;
    padding: 24px 0;
    text-align: right;
    width: 928px
}

